-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: kasrt
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `aset`
--

DROP TABLE IF EXISTS `aset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aset` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_barang` varchar(100) NOT NULL,
  `jumlah` int(11) NOT NULL,
  `kondisi` enum('Baik','Rusak Ringan','Rusak Berat') NOT NULL DEFAULT 'Baik',
  `lokasi` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aset`
--

LOCK TABLES `aset` WRITE;
/*!40000 ALTER TABLE `aset` DISABLE KEYS */;
INSERT INTO `aset` VALUES (1,'Tenda Besi 4x6',2,'Baik','Gudang RT'),(2,'Sound System Portable',1,'Baik','Rumah Pak RT'),(3,'Kursi Plastik Hijau',50,'Baik','Gudang RT');
/*!40000 ALTER TABLE `aset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aspirasi`
--

DROP TABLE IF EXISTS `aspirasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aspirasi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_pengirim` varchar(50) DEFAULT 'Anonim',
  `kategori` enum('Keluhan','Saran','Apresiasi','Lainnya') NOT NULL,
  `isi` text NOT NULL,
  `tanggal_kirim` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aspirasi`
--

LOCK TABLES `aspirasi` WRITE;
/*!40000 ALTER TABLE `aspirasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `aspirasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bank_sampah`
--

DROP TABLE IF EXISTS `bank_sampah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bank_sampah` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `warga_id` int(11) NOT NULL,
  `jenis_sampah` varchar(50) NOT NULL,
  `berat` decimal(5,2) NOT NULL,
  `poin` int(11) NOT NULL DEFAULT 0,
  `tanggal` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `warga_id` (`warga_id`),
  CONSTRAINT `bank_sampah_ibfk_1` FOREIGN KEY (`warga_id`) REFERENCES `data_warga` (`idWarga`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bank_sampah`
--

LOCK TABLES `bank_sampah` WRITE;
/*!40000 ALTER TABLE `bank_sampah` DISABLE KEYS */;
/*!40000 ALTER TABLE `bank_sampah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_kas`
--

DROP TABLE IF EXISTS `data_kas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `data_kas` (
  `idKas` int(11) NOT NULL AUTO_INCREMENT,
  `keterangan` varchar(100) NOT NULL,
  `tanggal` date NOT NULL,
  `jumlah` varchar(50) NOT NULL,
  `jenis` varchar(20) NOT NULL,
  PRIMARY KEY (`idKas`)
) ENGINE=InnoDB AUTO_INCREMENT=30000007 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_kas`
--

LOCK TABLES `data_kas` WRITE;
/*!40000 ALTER TABLE `data_kas` DISABLE KEYS */;
INSERT INTO `data_kas` VALUES (30000001,'Beli Printer L5190','2021-07-01','3750000','keluar'),(30000002,'Iuran warga mingguan','2021-07-01','5900000','masuk'),(30000003,'iuran warga bulanan','2021-07-03','7800000','masuk'),(30000004,'pembelian dispenser','2021-07-04','560000','keluar'),(30000005,'pembelian atk','2021-07-04','100000','keluar'),(30000006,'Lomba agustus','2021-07-14','3000000','keluar');
/*!40000 ALTER TABLE `data_kas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_warga`
--

DROP TABLE IF EXISTS `data_warga`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `data_warga` (
  `idWarga` int(11) NOT NULL AUTO_INCREMENT,
  `nik` varchar(50) NOT NULL,
  `nama` varchar(50) NOT NULL,
  `jekel` varchar(20) NOT NULL,
  `tempat_lahir` varchar(20) NOT NULL,
  `tanggal_lahir` date NOT NULL,
  `alamat` text NOT NULL,
  PRIMARY KEY (`idWarga`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_warga`
--

LOCK TABLES `data_warga` WRITE;
/*!40000 ALTER TABLE `data_warga` DISABLE KEYS */;
INSERT INTO `data_warga` VALUES (1,'111222333444555','Yohan Riki','laki-laki','Pati','1996-10-16','Cilincing, Jakarta Utara'),(3,'222333111444555','Ahmad Sidiq','laki-laki','Semarang','1995-02-10','bekasi utara'),(4,'1112221113334444','Echa Jesica','perempuan','Yogyakarta','2000-02-16','bekasi utara'),(5,'111222111222444','Rudi Hidayat','laki-laki','Pati','1999-06-09','Jakarta Utara'),(6,'333222111444555','Elisabet','perempuan','Semarang','2001-06-07','Jakarta Utara');
/*!40000 ALTER TABLE `data_warga` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kegiatan`
--

DROP TABLE IF EXISTS `kegiatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kegiatan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_kegiatan` varchar(100) NOT NULL,
  `tanggal` date NOT NULL,
  `waktu` time NOT NULL,
  `lokasi` varchar(100) NOT NULL,
  `keterangan` text DEFAULT NULL,
  `status` enum('Mendatang','Selesai','Batal') DEFAULT 'Mendatang',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kegiatan`
--

LOCK TABLES `kegiatan` WRITE;
/*!40000 ALTER TABLE `kegiatan` DISABLE KEYS */;
INSERT INTO `kegiatan` VALUES (1,'Kerja Bakti Lingkungan','2026-07-05','07:30:00','Area RT 002','Bersih-bersih selokan','Mendatang'),(2,'Rapat Bulanan RT','2026-07-10','19:30:00','Balai RT 002','Membahas keamanan','Mendatang');
/*!40000 ALTER TABLE `kegiatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `koperasi`
--

DROP TABLE IF EXISTS `koperasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `koperasi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `warga_id` int(11) NOT NULL,
  `jenis_transaksi` enum('Simpanan','Pinjaman') NOT NULL,
  `jumlah` int(11) NOT NULL,
  `keterangan` text DEFAULT NULL,
  `status` enum('Disetujui','Pending','Lunas') DEFAULT 'Pending',
  `tanggal` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `warga_id` (`warga_id`),
  CONSTRAINT `koperasi_ibfk_1` FOREIGN KEY (`warga_id`) REFERENCES `data_warga` (`idWarga`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `koperasi`
--

LOCK TABLES `koperasi` WRITE;
/*!40000 ALTER TABLE `koperasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `koperasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `posyandu`
--

DROP TABLE IF EXISTS `posyandu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `posyandu` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_anak` varchar(100) NOT NULL,
  `ibu_nama` varchar(100) NOT NULL,
  `umur_bulan` int(11) NOT NULL,
  `berat_badan` decimal(4,2) NOT NULL,
  `tinggi_badan` decimal(4,1) NOT NULL,
  `imunisasi` varchar(100) DEFAULT NULL,
  `tanggal_periksa` date NOT NULL,
  `catatan` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `posyandu`
--

LOCK TABLES `posyandu` WRITE;
/*!40000 ALTER TABLE `posyandu` DISABLE KEYS */;
/*!40000 ALTER TABLE `posyandu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ronda`
--

DROP TABLE IF EXISTS `ronda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ronda` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hari` enum('Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu') NOT NULL,
  `nama_petugas` varchar(100) NOT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ronda`
--

LOCK TABLES `ronda` WRITE;
/*!40000 ALTER TABLE `ronda` DISABLE KEYS */;
INSERT INTO `ronda` VALUES (1,'Senin','Yohan Riki','Ronda malam'),(2,'Senin','Ahmad Sidiq','Ronda malam'),(3,'Selasa','Rudi Hidayat','Ronda malam');
/*!40000 ALTER TABLE `ronda` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rukem`
--

DROP TABLE IF EXISTS `rukem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rukem` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_almarhum` varchar(100) NOT NULL,
  `tanggal_meninggal` date NOT NULL,
  `santunan` int(11) DEFAULT 0,
  `status_rukem` varchar(100) DEFAULT 'Dalam Proses Pemakaman',
  `tanggal_input` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rukem`
--

LOCK TABLES `rukem` WRITE;
/*!40000 ALTER TABLE `rukem` DISABLE KEYS */;
/*!40000 ALTER TABLE `rukem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sampah_payment`
--

DROP TABLE IF EXISTS `sampah_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sampah_payment` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `warga_id` int(11) NOT NULL,
  `bulan` varchar(20) NOT NULL,
  `tahun` int(11) NOT NULL,
  `jumlah` int(11) NOT NULL DEFAULT 20000,
  `metode` enum('QR','Tunai') NOT NULL,
  `bukti_bayar` varchar(100) DEFAULT NULL,
  `status` enum('Pending','Disetujui','Ditolak') NOT NULL DEFAULT 'Pending',
  `tanggal_bayar` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `warga_id` (`warga_id`),
  CONSTRAINT `sampah_payment_ibfk_1` FOREIGN KEY (`warga_id`) REFERENCES `data_warga` (`idWarga`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sampah_payment`
--

LOCK TABLES `sampah_payment` WRITE;
/*!40000 ALTER TABLE `sampah_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `sampah_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `surat`
--

DROP TABLE IF EXISTS `surat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `surat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `warga_id` int(11) NOT NULL,
  `jenis_surat` varchar(50) NOT NULL,
  `keperluan` text NOT NULL,
  `status` enum('Pending','Disetujui','Ditolak') NOT NULL DEFAULT 'Pending',
  `keterangan_admin` text DEFAULT NULL,
  `tanggal_pengajuan` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `warga_id` (`warga_id`),
  CONSTRAINT `surat_ibfk_1` FOREIGN KEY (`warga_id`) REFERENCES `data_warga` (`idWarga`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `surat`
--

LOCK TABLES `surat` WRITE;
/*!40000 ALTER TABLE `surat` DISABLE KEYS */;
/*!40000 ALTER TABLE `surat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabel_kredit`
--

DROP TABLE IF EXISTS `tabel_kredit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabel_kredit` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `keterangan` varchar(255) NOT NULL,
  `jumlah` decimal(10,2) NOT NULL,
  `tanggal` date NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabel_kredit`
--

LOCK TABLES `tabel_kredit` WRITE;
/*!40000 ALTER TABLE `tabel_kredit` DISABLE KEYS */;
/*!40000 ALTER TABLE `tabel_kredit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `umkm`
--

DROP TABLE IF EXISTS `umkm`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `umkm` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `warga_id` int(11) NOT NULL,
  `nama_usaha` varchar(100) NOT NULL,
  `kategori` varchar(50) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `no_wa` varchar(20) NOT NULL,
  `foto` varchar(100) DEFAULT 'umkm_default.png',
  `tanggal_daftar` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `warga_id` (`warga_id`),
  CONSTRAINT `umkm_ibfk_1` FOREIGN KEY (`warga_id`) REFERENCES `data_warga` (`idWarga`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `umkm`
--

LOCK TABLES `umkm` WRITE;
/*!40000 ALTER TABLE `umkm` DISABLE KEYS */;
/*!40000 ALTER TABLE `umkm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_role`
--

DROP TABLE IF EXISTS `user_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_role` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role` varchar(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_role`
--

LOCK TABLES `user_role` WRITE;
/*!40000 ALTER TABLE `user_role` DISABLE KEYS */;
INSERT INTO `user_role` VALUES (1,'Superadmin'),(2,'RT'),(3,'Bendahara');
/*!40000 ALTER TABLE `user_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `user` varchar(20) NOT NULL,
  `username` varchar(20) NOT NULL,
  `password` varchar(150) NOT NULL,
  `img` varchar(50) NOT NULL,
  `is_active` tinyint(4) NOT NULL,
  `role_id` tinyint(4) NOT NULL,
  `email` varchar(50) NOT NULL,
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (3,'Administrator','admin','$2y$10$6v.9Z.2QHCs9yZxgCM5.cu3L0ltG.8/5ma5Fs5vr6KS9yQnNjg/M2','admin.png',1,1,'admin@admin.com'),(4,'Avika','avika','$2y$10$WTyCYym4wxsRhSbEr093G.UFxyfEBwkH9D/A0j5Zn3JqLpthPc5XW','user3.png',1,2,'avika@gmail.com'),(5,'Audia','audia','$2y$10$Eehpk2YyoS7agkOHMMtw0eF/WUmudl8gGRjpVNRXH/qH/MQxN.A72','user2.png',1,3,'audia@gmail.com');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-01 19:12:24
